@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

body {
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#background-index {
    background-image: url('../img/plain_map.png');
    height: 100vh;
}

p {
    line-height: 1.5;
}

/* nav {
    padding: 1rem;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
} */

/* a:hover, a:focus, .btn:hover, #hamburger-menu:hover {
    color: cornflowerblue;
} */

.popTitle, .favs {
    text-align: center;
}

#begin{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: black 10rem;
}

#begin .card{
    width: 50vw;
    height: 25vh;
    justify-content: center;
}

.login {
    width: 75vw;
    height: 25vh;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-group {
    padding: 1em;
}

#begin .card-title {
    font-size: 12pt;
}

#begin a.btn {
    display: flex;
    width: 90%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, 30%);
    transform: translate(-50%, 30%);
}

.login.btn {
    justify-content: center;
}

.cardRating {
    max-width: 150px;
    max-height: 35px;
    padding-bottom:1rem;
}

.container {
    padding: 1rem 1rem 1rem 1rem;
    flex-direction: col;
}

.row .card {
    margin: 1rem 1rem 1rem 1rem;
    background-color:white;
}

footer p {
    font-size: x-small;
}

footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
}

.bg-img-1, .bg-img-2, .bg-img-3, .bg-img-4 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-1 {
    background-image: url("../img/walking.jpg");
    min-height: 100vh;
}

.bg-img-2 {
    background-image: url("../img/many-sign-posts.jpg");
    min-height: 100vh;
}

.bg-img-3 {
    background-image: url("../img/coffee.jpg");
    min-height: 100vh;
}

.bg-img-4 {
    background-image: url("../img/park.jpg");
    min-height: 100vh;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
}

.desc-text {
    background-color: white;
    min-width: 100%;
    min-height: 50vh;
    display: table;
}

.desc-wrapper {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.desc-text h1 {
    font-size:20px;
    text-align: center;
    padding-bottom: 1rem;
}

.desc-text p {
    text-align: left;
    padding:0 6rem 0 6rem;
}

.unsplash-credit {
    position: absolute;
    width:100%;
    bottom:0;
}

/* .desc-wrapper .d-flex {
    justify-content-center: center;

} */

.carousel-indicators .active {
    background-color: black;
}

.place-des {
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #F7F7F7;
    color: black;
    padding: 1rem;
    width: 100%;
}

.place-des h3 {
    text-align: center;
}

.place-des p {
    font-size: 2vh;
}

/* .wrap-item:hover .place-des, .wrap-item:focus .place-des { */
.wrap-item:hover .place-des {
    visibility: visible;
    transition: 0.3s;

}

.wrap-item:hover img {
    opacity: 50%;
    transition: 0.3s;
}

/* #car {
    justify-content: center;
} */

/* .carousel-control-prev {
    outline-color: black;
} */


#myCarousel {
    margin: 1rem;
    border: none;
    /* justify-content: center;
    align-items: center; */
}


#myCarousel img {
    /* width: 800px;
    height: 200px; */
    margin: 0 auto;
}


h2 i {
    color: #F3504B;
}

.favs h2 {
    justify-content: center;
}

#mapid {
    height: 400px;
    width: 600px;

}

/* small screens */
@media screen and (min-width: 598px) {
    #begin .card-title, #begin a.btn {
        font-size: 20pt;
    }

    nav {
        padding: 1rem;
        top: 0px;
        left: 0px;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 20px;
    }
    
}

/* medium screens */
@media screen and (min-width: 768px) {
    #logo-title {
        display: inline;
    }
    
    /* #title, #nav-items {
        display: inline-block;
    } */

    #links {
        display: inline;
    }

    /* .row .card-body {
        padding: 2rem 2rem 2rem 2rem;
    } */

    .navbar-brand {
        font-size: 24px;
    }

    nav {
        font-size: 22px;
    }

    
}


@media screen and (min-width: 992px) {
    /* #nav-items {
        font-size: 20pt;
    } */

    /* .row .card-body {
        padding: 3rem 3rem 3rem 3rem;
    } */

    #begin .card-title, #begin .a.btn {
        font-size: 24pt;
    }

    .navbar-brand {
        font-size: 30px;
    }

    nav {
        font-size: 26px;
    }
}

@media screen and (min-width: 1698px) {
    #car.row {
        justify-content: center;
        align-items: center;
    }
}