@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

body {
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size:30px;
}

#form {
    position: relative;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 2em;
    /* give it dimensions */
    width: 50%;
    background-color: #ededed;
}
#form-group {
    padding: 0.5em;
}

footer p {
    font-size: x-small;
}

footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
}

#locationField, #blahblah, #mapWrap{
    text-align: center;
}
#searchBox, #blah, #mapid {
    width: 50%;
    margin:0 auto;
}

#mapid {
    height: 90vh;
    width: 80%;
    position:relative;
    margin-top: 5em;
}

#BEGINNN {
    color:white;
}
#mapid {
    height: 800px;
    width: 1150px;
}

/* small screens */
@media screen and (min-width: 598px) {
    #begin .card-title, #begin a.btn {
        font-size: 20pt;
    }

    nav {
        padding: 1rem;
        top: 0px;
        left: 0px;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 20px;
    }
    
}

/* medium screens */
@media screen and (min-width: 768px) {
    #logo-title {
        display: inline;
    }

    #links {
        display: inline;
    }

    #navbar-brand {
        font-size: 24px;
    }

    nav {
        font-size: 22px;
    }
}


@media screen and (min-width: 992px) {
    #navbar-brand {
        font-size: 30px;
    }

    nav {
        font-size: 26px;
    }
}

@media screen and (min-width: 1698px) {
}


.leaflet{
    width: 100%;
    height: 500px;
}

.leaflet-container {
    width: 100%;
    height: 500px;
}